.wrapper {
    display: grid;
    grid-template-areas:
    "Head"
    "SideBar"
    "Main";
    margin-right: 5%;
    margin-left: 5%;
}

.Head {
    grid-area: Head;
}

.SideBar {
    grid-area: SideBar;

}

.MainContent {
    grid-area: Main;
    background-color: rgb(233, 233, 233);
    border-radius:15px;
    border-style: solid;
    border-width: 2px;
}

